!!! 5
%html
  %head
    %title!= page_title 'oursignal'
    %link{rel: 'icon', href: '/art/favicon.gif'}
    %link{rel: 'stylesheet', href: versioned_url('/css/screen.css'), type: 'text/css'}
    != haml :'_meta'
    != haml :'_javascript'
    - yield_content :head
  %body{id: page_id, class: page_classes}
    #head
      != haml :'_logo_oursignal'
      != haml :'_navigation'
    #body
      != yield
