<style type="text/css">
  html,body { height: 100% !important; min-height: 100% !important; margin-bottom: 1px !important; }
</style>

<div class="centered">
  <% require_js 'feeds' -%>
  <div id="users" class="alignRight">
    <h4>Customize your page...</h4>
    <%= messages_for @user %>
    <%= form_for @user, :action => resource(session.user) do -%>
      <br clear="all" />
      <%= text_field :username, :label => 'http://oursignal.com/', :class => 'vcard-nickname' %>
      <div class="clearSpace"></div>
      <%= password_field :password, :label => 'Password:', :value => '' %>
      <div class="clearSpace"></div>
      <%= text_field :email, :label => 'Email:', :class => 'vcard-email' %>
      <div class="clearSpace"></div>
      <%= select :theme,
        :label        => 'Theme:',
        :collection   => Theme.all,
        :text_method  => :name,
        :value_method => :id,
        :selected     => @user.theme.id.to_s
      %>
      <%= submit 'save' %>
    <% end =%>
    <p>Your custom link: <%= link_to absolute_url(:links, @user.username), absolute_url(:links, @user.username), :target => '_blank' %></p>
  </div>

  <div class="dividerCustomize"></div>

  <div id="feedsOuter">
    <div id="feedsInner">
      <h4>Your feeds...</h4>
      <p>Add your own rss feeds and move the slider (weak --- strong) to adjust it's importance.</p>
      <div class="clearSpace"></div>
      <div id="feeds">
        <ul id="scores"></ul>
        <form id="feed" method="post" action="">
          <input id="feed_url" name="feed[url]" value="" type="text" />
          <input id="feed_add" name="feed[add]" value="Add Feed" type="button" />
        </form>
      </div>
    </div>
  </div>
</div>

<%= partial 'layout/links' %>
