<style type="text/css">
  html,body { height: 100% !important; min-height: 100% !important; margin-bottom: 1px !important; }
</style>

<div class="container_12 padTop">

    <% require_js 'feeds' -%>
    <div class="grid_6" id="users">
      <h2>Customize your signal:</h2>
      <%= messages_for @user %>
      <%= form_for @user, :action => resource(session.user) do -%>
        <table border="0">
          <tr>
            <td width="210px" align="right" class="label">http://oursignal.com/ </td>
            <td width="210px"><%= text_field :username, :class => 'vcard-nickname', :size => '28' %></td>
          </tr>
          <tr>
            <td align="right" class="label">Password: </td>
            <td><%= password_field :password, :value => '', :size => '28' %></td>
          </tr>
          <tr>
            <td align="right" class="label">Email: </td>
            <td><%= text_field :email, :class => 'vcard-email', :size => '28' %></td>
          </tr>
          <tr>
            <td align="right" class="label">Theme:</td>
            <td>
              <%= select :theme,
                :collection   => Theme.all,
                :text_method  => :name,
                :value_method => :id,
                :selected     => @user.theme.id.to_s
              %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td align="right"><%= submit 'Save' %></td>
          </tr>
        </table>
      <% end =%>
    </div>

    <div class="grid_6 customLink">
      <h2 class="formats">Receive your news in any of these formats:</h2>
      <ul class="devList">
        <li class="html"><img src="/i/html.png" alt="HTML format" /><br />
        <%= link_to(
          'HTML',
          absolute_url(:links, 'oursignal', :format => 'html'),
          :title => 'RSS Format',
          :id    => 'developer_html'
        ) %>
        </li>
        <li class="rss"><img src="/i/rss.png" alt="RSS format" /><br />
        <%= link_to(
          'RSS',
          absolute_url(:links, 'oursignal', :format => 'rss'),
          :title => 'RSS Format',
          :id    => 'developer_rss'
        ) %>
        </li>
        <li class="xml"><img src="/i/xml.png" alt="XML format" /><br />
        <%= link_to(
          'XML',
          absolute_url(:links, 'oursignal', :format => 'xml'),
          :title => 'XML Format',
          :id    => 'developer_xml'
        ) %>
        </li>
        <li class="json"><img src="/i/json.png" alt="JSON format" /><br />
        <%= link_to(
          'JSON',
          absolute_url(:links, 'oursignal', :format => 'json'),
          :title => 'JSON Format',
          :id    => 'developer_json'
        ) %>
        </li>
      </ul>
    </div>


    <div class="grid_11" id="feeds">

      <table border="0">
        <tr>
          <td colspan="2"><h2>Your Feeds</h2><h2 class="padLeft">Feed Strength</h2></td>
        </tr>
        <tr>
          <td colspan="2">
            <ul id="scores"></ul>
          </td>
        </tr>
        <form id="feed" method="post" action="">
        <tr>
          <td colspan="2"><input id="feed_url" type="text" name="feed[url]" value="" size="28" /><input id="feed_add" name="feed[add]" value="Add Feed" type="button" class="addFeed" /></td>
        </tr>
        </form>
      </table>

    </div>


    <div class="clear">&nbsp;</div>

</div>

<div class="clear">&nbsp;</div>

<%= partial 'layout/links' %>

