<div class="left"><!-- start .centered -->

    <%= error_messages_for @user %>
    <%= error_messages_for @captcha %>

    <div class="vcard">
      <div id="signUp"><!-- start #signUp -->
        <h2>Sign Up</h2>

        <%= form_for @user, :action => '/signup', :method => :post do %>

          <%= text_field :username, :label => 'Username:', :class => 'vcard-nickname' %>
          <div class="clearSpace"></div>
          <%= password_field :password, :label => 'Password:', :value => '' %>
          <div class="clearSpace"></div>
          <%= text_field :email, :label => 'Email:', :class => 'vcard-email' %>
          <div class="clearSpace"></div>

          <%# TODO: Oursignal keys. This is my noodledish one %>
          <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Lc1hwcAAAAAAHpTxf1O3AP7QAoEVYF4gl0Blf1q"></script>
          <noscript>
            <iframe src="http://api.recaptcha.net/noscript?k=6Lc1hwcAAAAAAHpTxf1O3AP7QAoEVYF4gl0Blf1q" height="300" width="500" frameborder="0">
            </iframe><br />
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
          </noscript>

          <div class="clearSpaceRight">
            <%= submit :create %>
          </div>

        <% end =%>

      </div><!-- end #signUp -->
    </div>

</div>