<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Create a custom social news aggregator and visualizer from all of your favorite RSS feeds including digg, reddit, del.icio.us, hackernews and yahoo buzz" />
  <meta name="keywords" content="Cloud, Design, TreeMap, aggregator, ajax, blog, cool, creative, css, del.icio.us, delicious, digg, hackernews, yahoo buzz, mashup, news, online, portal, reddit, rss, social, socialmedia, socialnetworking, visual, visualization, web3.0" />
  <meta name="ROBOTS" content="ALL" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="Copyright" content="(c) 2009 Stateless Systems" />

  <%= tag 'title', title %>
  <%= partial 'layout/css' %>
  <%= partial 'layout/js' %>
  <%= catch_content :for_head %>

  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />

</head>
<%= tag 'body', {:class => classes} do =%>
  <div id="head" class="navBar">
    <div id="logo"><a class="logo" href="/" title="OurSignal | Home">Home</a></div>
    <a id="fundry" href="http://fundry.com"><img src="/i/fundry.png" alt="fundry" /></a>
    <div class="navigation">
      <ul class="options">
        <li class="customize"><a href="/login">Customize</a></li>
        <li class="about"><a href="/static/about">About</a></li>
      </ul>
    </div>
  </div><!-- navBar -->
  <div class="clear">&nbsp;</div>

  <div id="body">

    <%= catch_content :for_layout %>

  </div>
  <div id="footer">
    <div class="ssLogo"><a href="http://www.statelesssystems.com" target="_blank"><img src="/i/ssLogo.png" alt="Stateless Systems" /></a></div>
    <div class="networkSites"><strong>Network sites:</strong>
      <ul>
        <li><a href="http://www.retailmenot.com" target="_blank">Coupons</a></li>
        <li><a href="http://www.trendsmap.com" target="_blank">Trends</a></li>
        <li><a href="http://www.cushycms.com" target="_blank">CMS</a></li>
        <li><a href="http://www.fundry.com" target="_blank">Crowdfunding</a></li>
        <li><a href="http://www.bugmenot.com" target="_blank">BugMeNot</a></li>
        <li><a href="http://www.metauri.com" target="_blank">MetaURI</a></li>
      </ul>
    </div>
  </div>
<% end =%>
</html>
