<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= tag 'title', title %>
    <%= partial 'layout/css' %>
    <%= partial 'layout/js' %>
  </head>
  <body>
    <div id="shell">
      <div id="head">
        <h1><a href="/">oursignal</a></h1>
        <%= partial 'layout/navigation' %>
      </div>
      <div id="body">
        <%= messages_for request.session.authentication %>
        <%= messages %>
        <%= catch_content :for_layout %>
      </div>
      <div id="meta">
        <%= catch_content :for_meta %>
      </div>
    </div>
  </body>
</html>
