<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= tag 'title', title %>
    <%= partial 'layout/css' %>
    <%= partial 'layout/js' %>
  </head>
  <body>
    <div id="main"><h1>oursignal</h1></div>

    <div id="linkbar">
      <div id="navcontainer">
        <ul id="navlist">
          <% unless session.user %>
            <li><a href="#login">login</a></li>
          <% else %>
            <li><a href="/openid/logout">logout</a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="main_content">
      <%= message[:notice] %>
      <%= catch_content :for_layout %>
    </div>
  </body>
</html>
