<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= tag 'title', title %>
    <%= partial 'layout/css' %>
    <%= partial 'layout/js' %>
  </head>
  <body>
    <div id="shell">
      <div id="head">
        <ul id="navigation">
          <%= partial 'layout/user' %>
          <li><a href="http://twitter.com/oursignal">twitter bot</a></li>
          <li><a href="/about/">about</a></li>
          <li><a href="http://oursignal.uservoice.com/">suggestions</a></li>
        </ul>
        <h1>oursignal</h1>
      </div>
      <div id="body">
        <%= message[:notice] %>
        <%= catch_content :for_layout %>
      </div>
    </div>
  </body>
</html>
