<% require_js 'authentication' -%>
<h1>Authentication</h1>

<div id="authentication">
  <div id="strategies">
    <form id="strategies-password" class="password" method="post" action="/login">
      <fieldset>
        <legend>Login</legend>
        <%= text_field :name => :username, :label => 'Username' %>
        <%= password_field :name => :password, :label => 'Password' %>
        <%= submit 'login' %>
      </fieldset>
    </form>

    <form id="strategies-openid" class="openid" method="post" action="/login">
      <fieldset>
        <legend>OpenID Login</legend>
        <%= text_field :name => :openid_url, :label => 'OpenID' %>
        <%= submit 'login' %>
      </fieldset>
    </form>
  </div>

  <%= link_to 'signup', url(:signup) %>
</div>
